---
// Her importerer vi Card-komponenten, så den kan bruges længere nede på siden.
import Layout from "../layouts/Layout.astro";
import Artikel from "../components/Artikel.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import "../css/general.css";
import "../css/custom.css";
import Cardrigtig from "../components/Cardrigtig.astro";
const endpoint =
  "https://phmyuxewmvhrkzgmjrtw.supabase.co/rest/v1/Datastruktur_produkter?limit=4";

const options = {
  headers: { apikey: "sb_publishable_vji-RnXHn3KkTNJ4KqYoxA_HzS1mbaj" },
};

const data = await fetch(endpoint, options).then((response) => response.json());
---

<Layout>
  <Hero
    images={[
      { src: "/imgs/heroimg.webp", alt: "folk hygger" },
      // tern skal erstattes med baggrundsbillede grid 
      { src: "/imgs/herogridmobil.webp", alt: "tern" },
      { src: "/imgs/greensquarehero.webp", alt: "grøn firkant" },
    ]
    }
    tag={"GOD STEMNING,\nGOD SAMVITTIGHED"}
  />
 
  <h2 class="navtitle">
    Vores Craft Beer-koncept består af et stort, skiftende sortiment af kvalitetsøl kombineret med restprodukter, som vi kæmper for ikke må gå til spilde."
  </h2>
<!-- *-------------------AB laver subnav -----------* -->
<section class="udvalg">
  <h2 >Vores udvalg</h2>

  <div class="grid">
    <div class="type">TYPER</div>

    <div class="col">
      <a href="#ipa-pale">IPA & PALE ALE</a>
      <a href="#lager">LAGER & PILSNER</a>
      <a href="#moerke">MØRKE ØL</a>
      <a href="#special">LYSE SPECIAL ØL</a>
      <a  href="#alkohol">ALKOHOLFRI</a>
    </div>

    <div class="col">
      <a class="ekstra_streg" href="#ipa">IPA</a>
      <a href="#session">SESSION IPA</a>
      <a href="#double">DOUBLE IPA</a>
      <a href="#triple">TRIPLE IPA</a>
        <a href="#tom"></a>
    </div>
  </div>
</section>

  <!-- *-------------------subnav slut -----------* -->

  <section>


    <h2 class="navtitle">Nyheder</h2>
  <section class="nyhedscontainer">
    {data.map((product) => <Cardrigtig {product} />)}
  </section>


<section>
  <Artikel
    img="/imgs/article_img.webp"
    tag="Vi giver specialøl en ny chance"
    text1="og unge med udfordringer en vej ind til arbejdslivet. "
    text2="Din vej til billig overskudsøl og en god gerning.  Vi tager socialt ansvar og skaber muligheder for unge med udfordringer  med en praktikplads på os. Samtidig opkøber vi restpartier af specialøl, som du får til favorable priser. "
  >
  <Button title="Vores filosofi →" variant="primary" />
  </Artikel>

  <Artikel
    img="/imgs/smagekasse.webp"
    tag="Få ølsmagning leveret til døren med en Smagekasse"
    text2="Vi har masser af lækre smagekasser med specialøl fra ind- og udland, som er fra et restparti, har etikettefejl, en lille bule eller er tæt på best before-datoen.  Har du svært ved at vælge? Så tag et kig herunder, for vi har sammensat smagekasser for enhver smag og pengepung."
  >
  <Button title="Smagekasse →" variant="primary" />
  </Artikel>

  <Artikel
    img="/imgs/oelsmagning.webp"
    tag="Skræddersyet ølsmagning til dig"
    text2="Vi tilbyder skræddersyede ølsmagninger til alt fra 10 til 200 personer, med en pris på mellem 150 og 250 kroner pr. person. Du kan selv sætte størrelsen, antallet, stilarterne, eller du kan lade os sammensætte, hvad vi synes er en optimal smagning. Uanset hvad, vil alle ølsmagninger have en ting tilfælles. Nemlig, at ølsmagningerne er sammensat med en bæredygtig tankegange i fokus. "
  >
  <Button title="Ølsmagning →" variant="primary" /> 
  </Artikel>

  
 <Artikel
    img="/imgs/gridkoncept.svg"
    tag="Vores Craft Beer-koncept"
    text2="Vi samarbejder med faste bryggerier, distributører og grossister både indlands som udlands, hvor vi opkøber øl til vores faste, brede sortiment samt produkter, som kan være tæt på best before-datoen, restpartier, partier, som er taget ud af produktion eller af anden årsag ikke må gå til spilde. 
Tilsammen sikrer det både gode kvalitetsøl til markedets billigste priser OG en fast minimering af ølspild. Det er et bæredygtigt fællesskab og et win for bryggerierne og grossisterne, win for miljøet og win for dig som kunde."
  >
  <Button title="Vores koncept →" variant="primary" />
  </Artikel>
</section>

<!-- Aldersverificering popup -->
 <div id="age-popup">
  <div id="age-box">
  <p class="navtitle">Er du fyldt 18 år?</p>
  <p id="popuptext">Da det her på siden er muligt at købe alkohol, skal du være fyldt 18 for at handle</p>
  <div id="btn-popup-wrap">
    <button id="btn-yes">Ja, jeg er fyldt 18 år</button>
  <button id="btn-no">Nej, jeg er ikke fyldt 18 år</button>
  </div>
</div>

</Layout>

<style>

 .hero {
    background-image: url(/public/imgs/seamless_grid13.svg);
      background-size: contain;
      background-repeat: repeat-y;
      width: 90vw;
      border: solid 3px var(--grey);
    }
  
  .navtitle, .nyhedscontainer {
         margin-right: 5vw;
         margin-left: 5vw;
        }

  .navtitle {
          margin-bottom: 5vw;
        }

  section {
    display: grid;
    grid-template-columns: 2fr;
    gap: 1rem;
    justify-content: center;
    /* mediaquery her hvis order på billeder i grid sektioner 1_2 vice verca */
  }

.nyhedscontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
}


@media (min-width: 800px) {

h2{
  display: grid;
  grid-template-columns: 2fr;
  gap: 1rem;
}}

/* .nyhedscontainer {
  display: grid;
  grid-template-columns: repeat(4,auto);
} */
  /* mediaquery her hvis order på billeder i grid sektioner 1_2 vice verca */



 /* *---------- sub nav -------* */
.udvalg {
  padding: 30px 20px;
  font-family: 'Oswald', sans-serif;
}

/* Titel */
.udvalg h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* GRID → mobil = 1 kolonne */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 4px double #2b2b2b;
  border-bottom: 4px double #2b2b2b;
}
 .ekstra_streg {
   border-top: 4px double #2b2b2b;

 }

.type {
  font-family: var(--asapmedium);
  font-size: var(--nav-title-size-mobile);
  letter-spacing: 0.1em; 
  text-transform: uppercase;

  color: #2e7d32;

  display: flex;
  align-items: center;

  padding: 15px;
  border-bottom: 4px double #2b2b2b;
}

/* Kolonner bliver bare stacked */
.col {
  display: grid;
}

/* Fjern desktop borders */
.col:nth-child(2) {
  border-right: none;
}

/* LINKS */
.col a {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 100px;
  text-decoration: none;
  color: #222;
  font-size: 18px;
  letter-spacing: 1px;
  border-bottom: 4px double #2b2b2b;
}

/* Fjern sidste */
.col a:last-child {
  border-bottom: none;
}

/* Hover */
.col a:hover {
  background: rgba(0,0,0,0.03);
}



/* ----desktop---- */
@media (min-width: 960px) {

   .ekstra_streg {
    border-top: none;
  }
  .udvalg {
    padding: 50px 60px;
  }

  .udvalg h2 {
    font-size: 56px;
    margin-bottom: 30px;
  }

  .grid {
    grid-template-columns: 220px 1fr 1fr;
    border-top: 6px double #2b2b2b;
    border-bottom: 6px double #2b2b2b;
  }

  .type {
    font-size: 44px;
    padding: 25px;
    border-right: 3px solid #2b2b2b;
    border-bottom: none;
    align-items: center;
  }

  .col:nth-child(2) {
    border-right: 3px solid #2b2b2b;
  }

  .col a {
    height: 40px;
    padding: 0 25px;
    font-size: 26px;
    letter-spacing: 2px;
    border-bottom: 6px double #2b2b2b;
  }
}



</style>
#age-popup {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 400;
  width: 100%;
}

#age-box {
  background: var(--true-white);
  padding: 2rem;
  max-width: 60vw;
  height: 33vh;
  margin: auto;
  margin-top: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#popuptext {
  font-family: var(--instrument);
  margin-top: 16px;
}

#btn-popup-wrap {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

#btn-yes, #btn-no {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid transparent;
  font-family: var(--instrument);
  font-size: var(--text-size-mobile);
}

#btn-yes:hover, #btn-no:hover {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--primary);
}

#btn-yes {
  margin-right: 32px;
}


@media (min-width: 800px) {
  #btn-yes, #btn-no {
    font-size: var(--text-size-desk);
  }
  }

</style>

<script>
if (!sessionStorage.getItem("ageVerified")) {
  document.getElementById("age-popup").style.display = "flex";
}

document.getElementById("btn-yes").addEventListener("click", () => {
  sessionStorage.setItem("ageVerified", "true");
  document.getElementById("age-popup").style.display = "none";
});

</script>
