---
// Her importerer vi Card-komponenten, så den kan bruges længere nede på siden.
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../css/general.css";
import "../css/custom.css";
---
<Layout>
  <h1>Shop</h1>
  <section>
    <p>jeg har lavet shopsiden</p>
  </section>
</Layout>