---
// Her importerer vi Card-komponenten, så den kan bruges længere nede på siden.
import Layout from "../layouts/Layout.astro";
import "../css/general.css";
import Cardrigtig from "../components/Cardrigtig.astro";
const endpoint =
  "https://phmyuxewmvhrkzgmjrtw.supabase.co/rest/v1/Datastruktur_produkter?select=*";

const options = {
  headers: { apikey: "sb_publishable_vji-RnXHn3KkTNJ4KqYoxA_HzS1mbaj" },
};

const data = await fetch(endpoint, options).then((response) => response.json());
---

<Layout>
  <h2>Shop</h2>

  <section>
    {data.map((product) => <Cardrigtig {product} />)}
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
</style>
