---
// Astro.props indeholder de værdier, som komponenten modtager fra index.astro.
const img = Astro.props.img;
const tag = Astro.props.tag;
const text1 = Astro.props.text1;
const text2 = Astro.props.text2;
// const { img, tag, text } = Astro.props; // Shorthand Alternativ (flottere) måde at skrive med destructuring//
---

<article>
  <!-- Her indsætter vi billedstien fra prop'en img, tag og text. -->
  <img src={img} />
  <h3>{tag}</h3>
  <p id="article_text_bold">{text1}</p>
  <p>{text2}</p>
  <div class="button_article"><slot /></div>
</article>

<style>
  article {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button_article {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  img {
    border-radius: 6px;
    margin-bottom: 1.3rem;
  }

  h3 {
    margin-bottom: 0.56rem;
  }

  p {
    margin-bottom: 1.3rem;
  }

  #article_text_bold {
    font-weight: bold;
  }
</style>
