---
const title = Astro.props.title;
const variant = Astro.props.variant;
---
<button class={variant}><p>{title}</p></button>
<!-- componenter styles i deres eget component herunder er bare placeholder styling -->
<style>
  button {
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  .primary {
    background-color: cornflowerblue;
  }
  .secondary {
    background-color: lightcoral;
  }
</style>