---
// Astro.props indeholder de værdier, som komponenten modtager fra index.astro.
const img = Astro.props.img;
const tag = Astro.props.tag;
const text = Astro.props.text;
// const { img, tag, text } = Astro.props; // Shorthand Alternativ (flottere) måde at skrive med destructuring//
---
<article>
  <!-- Her indsætter vi billedstien fra prop'en img, tag og text. -->
  <img src={img} />
  <p>{tag}</p>
  <p>{text}</p>
</article>