---
const { product } = Astro.props;
---

<article>
  <img src="../../public/imgs/beer1.png" alt="">
  <div>
    <p>39,75 DKK</p>
    <p>55,95 DKK</p>
  </div>
  <h3 class="navtext">Brew York</h3>
  <h4 class="navtext">Maris the otter</h4>
  <p>3,9% English bitter</p>
</article>

<style>
  article {
    border: solid 1px;
    padding: 1rem;
    max-width: 15vw;
  }

  img {
    max-width: 100%;
  }
</style>

