---

---

<div>
<select name="type" id="type">
    <option value="Øl type" class="typebtn">Øl type</option>
    <option value="alkoholfri" class="typebtn">Alkoholfri</option>
    <option value="doubleipa" class="typebtn">Double IPA</option>
    <option value="ipa" class="typebtn">IPA</option>
    <option value="lager" class="typebtn">Lager</option>
    <option value="lyseol" class="typebtn">Lyse øl</option>
    <option value="morkeol" class="typebtn">Mørke øl</option>
    <option value="pilsner" class="typebtn">Pilsner</option>
    <option value="sessionipa" class="typebtn">Session IPA</option>
    <option value="tripleipa" class="typebtn">Triple IPA</option>
</select>
<select name="bryghus" id="bryghus">
    <option value="" class="brandbtn">Bryghus</option>
    <option value="Brew York" class="brandbtn">Brew York</option>
    <option value="Brewsketeers" class="brandbtn">BrewSketeers</option>
    <option value="Charro" class="brandbtn">Charro</option>
    <option value="Dragonfly" class="brandbtn">Dragonfly</option>
    <option value="Fermenterarna" class="brandbtn">Fermenterarna</option>
    <option value="lysølsfabrikken" class="brandbtn">Lysølsfabrikken</option>
    <option value="Mash Gang" class="brandbtn">Mash Gang</option>
    <option value="Must Kuld" class="brandbtn">Must Kuld</option>
    <option value="Stangen" class="brandbtn">Stangen</option>
    <option value="Åben" class="brandbtn">Åben</option>
</select>
<select name="lagerstatus" id="lagerstatus">
    <option value="">Lagerstatus</option>
    <option value="true">På lager</option>
    <option value="false">Udsolgt</option>
</select>
<select name="sorter" id="sorter">
    <option value="">Sortér</option>
    <option value="titleaz">Navn - A-Å</option>
    <option value="titleza">Navn - Å-A</option>
    <option value="priceup">Pris - Lav til høj</option>
    <option value="pricedown">Pris - Høj til lav</option>
    <option value="alcoholpercup">Alkoholprocent - Lav til høj</option>
    <option value="alcoholpercdown">Alkoholprocent - Høj til lav</option>
    <option value="ratingup">Rating - Lav til høj</option>
    <option value="ratingdown">Rating - Høj til lav</option>
</select>

</div>