@font-face {
  font-family: "InstrumentSans";
  src: url("/fonts/InstrumentSans-VariableFont_wdth,wght.woff2") format("woff2");
}

@font-face {
  font-family: "InstrumentSansItalic";
  src: url("/fonts/InstrumentSans-Italic-VariableFont_wdth,wght.woff2")
    format("woff2");
}

@font-face {
  font-family: "AsapCondensedLight";
  src: url("/fonts/AsapCondensed-Light.woff2") format("woff2");
}

@font-face {
  font-family: "AsapCondensedMedium";
  src: url("/fonts/AsapCondensed-Medium.woff2") format("woff2");
}

:root {
  /* Farver */
  --white: #f8f7f7;
  --grey: #a4a4a4;
  --black: #212121;
  --primary: #007900;
  --primary-light: #4da24d;
  --primary-dark: #005500;
  --secondary: #db9a35;
  --secondary-light: #e6b972;
  --secondary-dark: #a26e1d;

  --true-white: #ffffff;
  --true-black: #000000;

  /* Fonte */
  --instrument: "InstrumentSans", sans-serif;
  --instrumentitalic: "InstrumentSansItalic", sans-serif;
  --asaplight: "AsapCondensedLight", sans-serif;
  --asapmedium: "AsapCondensedMedium", sans-serif;

  /* H1 */
  --h1-size-mobile: 1.875rem;
  --h1-size-desk: 3rem;
  --h1-weight: 700;

  /* H2 */
  --h2-size-mobile: 1.25rem;
  --h2-size-desk: 2.5rem;
  --h2-weight: 500;

  /* H3 */
  --h3-size-mobile: 1rem;
  --h3-size-desk: 2rem;

  /* H4 */
  --h4-size-mobile: 0.75rem;
  --h4-size-desk: 1.5rem;

  /* P */
  --text-size-mobile: 0.75rem;
  --text-size-desk: 1.125rem;

  /* Subtle */
  --subtle-size-mobile: 0.75rem;
  --subtle-size-desk: 1rem;

  /* Nav title */
  --nav-title-size-mobile: 1rem;
  --nav-title-size-desk: 2rem;

  /* Nav */
  --nav-size-mobile: 1.25rem;
  --nav-size-desk: 2rem;

  /* Effekter */
  --shadow: 8px -4px 10px #00000040;
  --header-shadow: 0px 4px 4px #00000040;
}
