---
import "../css/general.css";
import "../css/custom.css";
import Button from "../components/Button.astro";
---
<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>A Good Case</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="/public/imgs/logo.webp" alt="" />
        </a>
      </div>
      <nav>
        <ul class="menu">
          <li><a href="shop">Shop</a></li>
          <li><a href="events">Events</a></li>
          <li><a href="omos">Om os</a></li>
          <li><a href="erhverv">Erhverv</a></li>
          <li><a href="erhverv">Søg (placeholder)</a></li>
          <img class="burgergrid" src="/public/imgs/burgergrid.webp" alt="" />
        </ul>
        <button class="burger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
      </nav>
    </header>
  </body>
  <slot />
  <footer>
    <p>
      Her er min footer
      <Button title="ABONNÉR" variant="secondary" />
      <Button title="ABONNÉR 2" variant="primary" />
    </p>
  </footer>
</html>
<!-- JS til burgermenu inline script -->
<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  burger.addEventListener("click", burgerClick);
  function burgerClick() {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  }
</script>
