---
import "../css/general.css";
import "../css/custom.css";
import Button from "../components/Button.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <meta name="generator" content={Astro.generator} />
    <title>A Good Case</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="/imgs/logo.webp" alt="A Good Case logo" />
        </a>
      </div>
      <nav>
        <ul class="menu">
          <li><a href="/shop">Shop</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/omos">Om os</a></li>
          <li><a href="/erhverv">Erhverv</a></li>
          <li><a href="/erhverv">Søg (placeholder)</a></li>
          <img class="burgergrid" src="/public/imgs/burgergrid.webp" alt="" />
        </ul>

        <button class="burger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
      </nav>
    </header>
    <slot />
  </body>

  <footer>
    <section class="footer-grid">
      <div class="footer-column">
        <div class="block">
          
       
             <h2 class="navtitle">KONTAKT OS</h2>
          <div class="contact_spacing">
          <p>Telefon: +45 30 45 99 90</p>
          <p>Mail: info@agoodcase.dk</p>
          </div>

          <p>
            A Good Case ApS<br />
            Vallensbækvej 55<br />
            2605 Brøndby<br />
            CVR-nr 41440031
          </p>
        </div>

        <div class="block">
             <h2 class="navtitle ">AGOODCASE.DK</h2>
          <ul>
            <li>Om os</li>
            <li>Handelsbetingelser</li>
            <li>GDPR</li>
            <li>Levering og prisgaranti</li>
            <li>Smiley rapport</li>
            <li>MitID Aldersverificering</li>
            <li>Konkurrence Ølfestival 2025</li>
            <li>Spørgsmål og svar</li>
          </ul>
        </div>

        <p>© 2026 - A Good Case Drevet af Shopify</p>
      </div>

      <div class="footer-column">
        <div class="block">
      <h2 class="navtitle">ÅBNINGSTIDER</h2>
          <div class="aabningstider_spaceing">
          <p>
            Lagersalg og afhentning:<br />
            Onsdag-Fredag:<br />
            kl. 10:00 - 17:00
          </p> </div>
<div class="aabningstider_spaceing">
          <p>
            Tlf åbent alle hverdage<br />
            kl. 9:00 - 12:00
          </p>
          </div>
         
        </div>

        <div class="block">
          <h2 class="navtitle">NYHEDSBREV</h2>
          <div class="tilbud_p">
          <p>Få en masse spændende tilbud - lige til døren.</p>
          </div>

     <Button title="Abonnér" variant="primary" />

 <div class="footer-utility">       
          <img class=aldersgraenseimg
            src="/imgs/aldersgraense.webp"
            alt="Aldersgrænse 16 og 18"
          />

<div class="socials-container">
  <div class="socials">
    <a href="#">
      <img src="/imgs/facebook.webp" alt="facebook" />
    </a>
    <a href="#">
      <img src="/imgs/instagram.webp" alt="instagram" />
    </a>
    <a href="#">
      <img src="/imgs/linkedin.webp" alt="LinkedIn" />
    </a>
    <a href="#">
      <img src="/imgs/untappd.webp" alt="Untappd" />
    </a>
  </div>
</div>

          <div class="payments">
            <img src="/imgs/payment.webp" alt="Betalingsikoner" />
          </div>
        </div>
      </div>
      </div>  
    </section>

    <!-- Her er min footer
      <Button title="ABONNÉR" variant="secondary" />
      <Button title="ABONNÉR 2" variant="primary" /> -->
  </footer>
</html>

<!-- JS til burgermenu inline script -->

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");

  burger.addEventListener("click", burgerClick);

  function burgerClick() {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  }
</script>


<style>
  footer {
    background-color: #ffffff;
    border-top: #000 1px solid;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 28px
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .block {
    margin-bottom: 2rem;
  
  }

  .contact_spacing {
    padding-bottom: 15px;
  }


  .footer-utility{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  }

.aldersgraenseimg {
  width: 200px;
  height: 200px;
  padding-top: 20px;

}


.socials-container {
  display: flex;
  justify-content: left;
  padding-top: 15px;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials img {
  width: 25px;
  height: 25px;
}

.payments{
  width: 150px;
  height: 60px;
}

.block ul {
  list-style: none;
  padding: 0;   
  margin: 0;   
  line-height: 1.6;

}
.aabningstider_spaceing 
.tilbud_p {
padding-bottom: 15px;

}


/* *---------stregen under H----------------* */
.block h2 {
  border-bottom: 1px solid #0c0c0c; 
  width: 200px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}


</style>
